CLOUD_BACKEND_PORT="3004"
CLOUD_DEFAULT_USER_EMAIL="demo@excalidraw.local"
CLOUD_DEFAULT_USER_NAME="Local User"



DATABASE_URL="postgresql://yakraj:sunaulo@daylight651@indian-server.postgres.database.azure.com:5432/postgres?sslmode=require&schema=adonai_draw&connection_limit=5&pool_timeout=20"
BETTER_AUTH_SECRET="uN6Xv8vW3Z9z5p7QK2L8mN4oP1qR3sT5uV7wX9yZ0A"
BETTER_AUTH_URL="https://draw.adonaisoft.com"
CLOUDINARY_CLOUD_NAME="wows"
CLOUDINARY_API_KEY="785164241988465"
CLOUDINARY_API_SECRET="Bnz02Q1rQ_lVEJ6DsBvclpP9avw"
